---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Why I started this journal?"
	pubDate={new Date('January 1 2024')}
	heroImage="/me.jpeg"
>
		<h3>Why I started this journal?</h3>
	<p>
		I was a wretched wretch, self-pity drug addict for most of the time of my youth. The reason I turned to drugs
		was because the loss of my loved one. My parents didn't really like me so when I realised that my life was
		in the brink of death after the passing of my grandfather, I got totally lost. I had no one to turned up
		to so I ended up turned to drugs and that choice had destroyed my life. 
	</p>

	<p>
		Having tried many times to quit drugs but didn't last long until I found myself back into the old pattern
		again. My heart was aching to the point of death. Worst, I got myself possessed by demons due to practicing
		the eastern religion. I can't blame the religion, I know it was me who opended up the doors to devils because I
		was not a man of God and my lifestyle was very filfty and nasty back then. Family brokenness, self-brokenness, 
		addiction problem and then possessed by devils, that was how I lived and felt during childhood until youth time.
	</p>

	<p>
		Thanks to my survival instict, I know death is not the option so I started to seek God. I went to the Church and
		knelt down before the crucified Jesus, bawling as much as I could, asked for His forgiveness, and I also begged His dear grandmother St Anne and His
		mother Mary to intercede for me. I didn't know what else to do but I know I want to live. The next few months I spent
		many hours praying everyday. In fact, I prayed more than I could in a month than for the past 33 years. It was a moment of consolation when I got
		drawn into reading Bible. From time to time, I was taught a method called Lectio Divina to read, meditate and pray over
		the Scripture. God granted me many graces during those difficult times in finding Him. 
	</p>

	<p>
		From an atheist, my faith slowly builds up and my understanding of God increases. There is none other on the earth 
		who could give me the consolation that He gives me by His words; there is none other who could ever cheer me up in my 
		most difficult moments like He could; there is no other doctor who could cure my broken-heart like He could; and there is no other gods who 
		could helped me back up like He could. I realised that my brokenness are healed, weakness are strengthened, and good things keep on coming it's way.
	</p>

	<p>
		This is why I started to write this journal because I know the old me is gone and the new creation is here. Tears are
		the things in the past and happiness is here to stay because I finally reunite with God. In the past, I prayed to other gods, and even aliens, 
		believed in starseeds but those things introduced me more grieve and done more damage to my life because they are not of God. I'm glad 
		that I found God through my Catholic faith and the Bible His real words. I'm glad that I received the miracle of healing body, 
		spirit and soul. I'm glad that my God is faithful to His promises and His truth set me free.
	</p>

	<p>
		Israel, you should be proud because the true God comes from Israel. He chose your race among other races on the earth and the Messiah is from your people.
		God incarnated as human in Jesus and now the entire earth gets to know the only one true God and receive His abundant goodness and graces because of Jesus's Holy name.
		God is calling and waiting for everyone, regardless of your skin colour, faith, status, good or bad, criminal or noble, poor or rice,
		He is ready to give Himself to you because He loves you. If you are searching for a Higher power, know that <b>whoever calls upon the name 
		of the Lord will be saved. - <i>Romans 10:13</i></b>
	</p>
</Layout>
